.skeleton {
  background: lightgray
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    )
    repeat-y;
  background-size: calc(100% * 5);
  animation: loading-animation 1s infinite linear;

  &__rectangular {
    width: 100%;
    height: 1.2rem;
    border-radius: 0.5rem;
  }

  &__text {
    width: 100%;
    height: 1.2rem;
  }

  &__circular {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
  }
}

@keyframes loading-animation {
  to {
    background-position:
      100% 0,
      0 0;
  }
}
